* {
	box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(to right,#4747f7,#ff4141) ; */
  background-image: linear-gradient(to right, #E5E4E2, #ffffff);
  font-family: Helvetica, “Helvetica Neue”, Arial, sans-serif;
}
.img {
  width: 20%;
  margin: 20px auto 20px auto;
  display: block;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px; 
  
}

.wrap-login100 {
  width: 390px;
  background: #faf5f5;
  border-radius: 10px;
  background: linear-gradient(145deg, #e1dddd, #ffffff);
box-shadow:  20px 20px 60px #d5d0d0,
             -20px -20px 60px #ffffff;
  overflow: hidden;
  padding: 67px 45px 23px 45px;
  box-shadow: 0 10px 18px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 18px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 18px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 18px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 10px 18px 0px rgba(0, 0, 0, 0.1);
}
.box {
  background: rgba( 0, 0, 0, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 5em;
  border: 2px solid #000000;
  margin: 10px 1.5% 10px 1.5% ;
  float: left;
  width: 30.33%;
}
.card2 {
  height: 100px !important;
}
.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}
.border-left-secondary {
  border-left: 0.25rem solid #858796 !important;
}
.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}
.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}
.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}
.border-left-danger {
  border-left: 0.25rem solid #e74a3b !important;
}
.border-left-light {
  border-left: 0.25rem solid #f8f9fc !important;
}
.border-left-dark {
  border-left: 0.25rem solid #5a5c69 !important;
}
.text-red{
  color: #f00;
}
.text-green{
  color: #2dd164;
}
.text-white {
  color: #ccc;
}
.scroll {
  max-height: 14rem;
  overflow-y: auto;
}
.card-height {
 height: 14.5rem !important;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.bg-white {
  background-color: #ffffff;
}
.img-profile {
  height: 2.5rem;
  width: 2.5rem;
}

/* SIDEBAR */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  background-image: url(img/bg.jpg)
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  background-color: #000000;
}
.list-group-item, .list-group-item-action, .list-group{
  background-color: transparent !important;
  border-color: #fff  !important;
  color: #fff  !important;
  }
#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}
@media only screen and (max-width: 600px) {
  .VictoryContainer{
    user-select: auto !important;
    pointer-events: auto !important;
    touch-action: auto !important;
  }
}